@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
  background: #3E5151;
  background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);
  background: linear-gradient(to right, #DECBA4, #3E5151);
  font-family: 'Noto Sans', sans-serif;
}

.main-heading {
  color: #ffffff;
  font-size: 46px;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.tasks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin: 40px auto;
  padding: 0 10px;
  width: 600px;
}

.tasks__form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.tasks__input {
  background-color: #fff;
  border: 1px solid #3E5151;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 3px;
  font-size: 18px;
  outline: 3px solid transparent;
  padding: 10px 20px;
  transition: outline-color .3s;
}

.tasks__input:focus {
  outline-color: #DECBA4;
}

.tasks__submitBtn {
  background-color: rgba(174, 174, 174, 0.4);
  border-radius: 4px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
  transition: background-color .3s;
}

.tasks__submitBtn:hover {
  background-color: #6b7468;
}

.tasks__list {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  overflow: hidden;
  list-style: none;
  padding: 0;
}

.tasks__list-item {
  background-color: transparent;
  border-bottom: 1px solid #f1e3c5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.tasks__item {
  display: flex;
  flex-direction: column;
  transition: padding-left .3s;
}

.tasks__list-item--done 
.tasks__item {
  padding-left: 40px;
  text-decoration: line-through;
}

.tasks__title {
  margin: 0;
}

.tasks__date {
  color: #aeaeae;
  font-size: 14px;
}

.tasks__content {
  margin: 0;
  padding: 6px 0 0 10px;
}

.tasks__controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tasks__delete-btn {
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.tasks__delete-btn:hover {
  cursor: pointer;
  color: red;
  padding: 6px;
}

.tasks__chbox {
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.info {
  background-color: #ffffff49;
  border-radius: 4px;
  color: #fff;
  padding: 16px;
  text-align: center;
  text-shadow: 2px 2px 2px #000000;
}